.DS_Store
node_modules/
dist/
build/
.expo/
.next/
.firebase/
.dart_tool/
.packages
pubspec.lock
**/ios/Pods/
**/android/.gradle/
**/android/local.properties
*.log
.env
.env.local
.env.*.local
serviceAccountKey.json
google-services.json
GoogleService-Info.plist
.vercel
.env*
